* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@media screen and (max-width: 800px) {
  .nav-holder nav {
    opacity: 0;
  }
  .nav-holder .bars .bar {
    display: block;
    width: 25px;
    margin: 5px 20px;
    background-color: white;
    height: 3px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@font-face {
  font-family: caveat;
  src: url(../fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: gillsans;
  src: url(../fonts/GillSans\ \(1\).ttf);
}
@font-face {
  font-family: gillsanslight;
  src: url(../fonts/GillSans-Light\ \(2\).ttf);
}
@font-face {
  font-family: gillsansitalic;
  src: url(../fonts/GillSans\ Italic.ttf);
}
@font-face {
  font-family: latobold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: latobolditalic;
  src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: latoitalic;
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}
.nav-holder {
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
  top: 20px;
  z-index: 1000;
}
.nav-holder .logo img {
  width: 250px;
  height: 55px;
}
.nav-holder nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
  position: fixed;
  right: 20px;
}
.nav-holder nav a {
  font-size: 25px;
  color: black;
  margin-left: 10px;
  text-decoration: none;
  margin-top: 10px;
  font-family: caveat;
}
.nav-holder nav .oval {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 42px;
  border-radius: 16px;
  background-color: #FFD972;
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
}
.nav-holder nav .oval a {
  margin-right: 9px;
  margin-bottom: 5px;
}

@font-face {
  font-family: caveat;
  src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: gillsans;
  src: url(../fonts/GillSans\ \(1\).ttf);
}
@font-face {
  font-family: gillsanslight;
  src: url(../fonts/GillSans-Light\ \(2\).ttf);
}
@font-face {
  font-family: gillsansitalic;
  src: url(fonts/GillSans\ Italic.ttf);
}
@font-face {
  font-family: latobold;
  src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: latobolditalic;
  src: url(../fonts/Lato-BoldItalic.ttf);
}
@font-face {
  font-family: latoitalic;
  src: url(../fonts/Lato-Italic.ttf);
}
@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}
.hero {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-image: url(../images/hero\ \(4\).jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F25C54;
  background-blend-mode: overlay;
  opacity: 80%;
}
.hero .circles {
  margin-left: 300px;
}
.hero .circles .pink-circle {
  height: 168px;
  width: 168px;
  border-radius: 50%;
  background-color: #FCBCB8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: latoitalic;
}
.hero .circles .pink-circle span {
  font-family: lato;
  width: 105px;
  height: 50px;
  font-size: 10px;
}
.hero .circles .yellow-circle {
  margin-top: -100px;
  margin-left: -250px;
  height: 358px;
  width: 358px;
  border-radius: 50%;
  background-color: #FFD972;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: lato;
}
.hero .circles .yellow-circle .header {
  height: 30px;
  width: 220px;
  font-size: 15px;
  font-family: caveat;
}
.hero .circles .yellow-circle .subText {
  margin-top: 20px;
  width: 164px;
  height: 80px;
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  .footer .bottom-nav {
    margin-bottom: 30px;
    margin-left: 150px;
  }
  .footer .socials {
    margin-right: 100px;
  }
}
@media screen and (max-width: 500px) {
  .footer .copyright {
    margin-bottom: 30px;
  }
  .footer .bottom-nav {
    margin-bottom: 50px;
    margin-right: -150px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .bottom-nav a {
    margin: 0 -10px;
  }
  .footer .socials {
    margin-right: 100px;
  }
}
@media screen and (max-width: 300px) {
  .footer .copyright {
    margin-bottom: 30px;
    position: relative;
    margin-left: 100px;
  }
  .footer .bottom-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: -350px;
  }
  .footer .bottom-nav a {
    margin: 0 -10px;
  }
  .footer .socials {
    margin-right: 100px;
  }
}
.footer {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.footer .copyright {
  position: absolute;
  bottom: 10px;
  left: 50px;
  margin-left: 20px;
  width: 266px;
  font-family: latoitalic;
}
.footer .bottom-nav {
  position: absolute;
  bottom: 10px;
  right: 50px;
  width: 600px;
}
.footer .bottom-nav a {
  font-family: latoitalic;
  margin-left: 10px;
  color: black;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
}
.footer .socials {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 12px;
  right: 15px;
  width: 50px;
}
.footer .socials img {
  margin: 0 5px;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 768px) {
  .recipe {
    width: 400px;
  }
  .recipe form {
    width: 300px;
  }
  .recipe input input {
    width: 400px;
  }
  .browse-hero {
    width: 100%;
    position: relative;
  }
  .browse-hero .row-One {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .browse-hero .row-One .recipe-One {
    margin-bottom: 50px;
  }
  .browse-hero .row-Two {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .browse-hero .row-Two .recipe-One {
    margin-bottom: 50px;
  }
}
.browse-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #A7E8BD;
  background-blend-mode: multiply;
  opacity: 80%;
}
.browse-hero h1 {
  margin-top: 150px;
  margin-left: 130px;
  font-size: 20px;
}
.browse-hero .row-One {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 100px;
}
.browse-hero .row-One .recipe-One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
}
.browse-hero .row-One .recipe-One .image img {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 263px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.browse-hero .row-One .recipe-One .info {
  padding: 10px;
  background-color: white;
  width: 224px;
  height: 263px;
  border-radius: 6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.browse-hero .row-One .recipe-One .info .header {
  font-size: 15px;
  font-family: lato;
}
.browse-hero .row-One .recipe-One .info .text-info {
  margin-bottom: 50px;
  font-size: 9px;
}
.browse-hero .row-One .recipe-One .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browse-hero .row-One .recipe-One .info .time .image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-One .recipe-One .info .servings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browse-hero .row-One .recipe-One .info .servings .images img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-One .recipe-Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
}
.browse-hero .row-One .recipe-Two .image img {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 263px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.browse-hero .row-One .recipe-Two .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  background-color: white;
  width: 224px;
  height: 263px;
  border-radius: 6px;
  font-family: lato;
}
.browse-hero .row-One .recipe-Two .info .header {
  font-size: 15px;
}
.browse-hero .row-One .recipe-Two .info .text-info {
  margin-bottom: 50px;
  font-size: 9px;
}
.browse-hero .row-One .recipe-Two .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse-hero .row-One .recipe-Two .info .time .image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-One .recipe-Two .info .servings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse-hero .row-One .recipe-Two .info .servings .images img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-Two {
  margin-left: 100px;
  margin-top: 100px;
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 100px;
}
.browse-hero .row-Two .recipe-One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
}
.browse-hero .row-Two .recipe-One .image img {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 263px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.browse-hero .row-Two .recipe-One .info {
  padding: 10px;
  background-color: white;
  width: 224px;
  height: 263px;
  border-radius: 6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.browse-hero .row-Two .recipe-One .info .header {
  font-size: 15px;
}
.browse-hero .row-Two .recipe-One .info .text-info {
  font-family: lato;
  margin-bottom: 50px;
  font-size: 9px;
}
.browse-hero .row-Two .recipe-One .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.browse-hero .row-Two .recipe-One .info .time .image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-Two .recipe-One .info .servings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse-hero .row-Two .recipe-One .info .servings .images img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-Two .recipe-Two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.browse-hero .row-Two .recipe-Two .image img {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 263px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.browse-hero .row-Two .recipe-Two .info {
  font-family: lato;
  padding: 10px;
  background-color: white;
  width: 224px;
  height: 263px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.browse-hero .row-Two .recipe-Two .info .header {
  font-size: 15px;
}
.browse-hero .row-Two .recipe-Two .info .text-info {
  margin-bottom: 50px;
  font-size: 9px;
}
.browse-hero .row-Two .recipe-Two .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse-hero .row-Two .recipe-Two .info .time .image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.browse-hero .row-Two .recipe-Two .info .servings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse-hero .row-Two .recipe-Two .info .servings .images img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 960px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background-color: #FFD972;
}
.container .create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container .create .loginhead {
  margin-top: 100px;
}
.container .create .loginhead h1 {
  font-family: lato;
  font-weight: lighter;
  margin-right: 110px;
  margin-bottom: -150px;
}
.container .create .createhead {
  margin-top: 100px;
}
.container .create .createhead h1 {
  font-family: lato;
  font-weight: 100;
  margin-right: 110px;
  margin-bottom: -50px;
}
.container .create .createhead span {
  font-family: lato;
  margin-bottom: -150px;
  margin-right: 110px;
}
.container .create form {
  margin-top: 20px;
  font-family: lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 260px;
  margin: 60px;
  margin-bottom: 300px;
}
.container .create input {
  font-family: caveat;
  background-color: #FFD972;
  display: block;
  margin: 10px 0;
  width: 250px;
  height: 1px;
}
.container .create .sign input {
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
  border-radius: 16px;
  width: 250px;
  height: 52px;
  border: none;
}
.container .create .login input {
  border: none;
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
  border-radius: 16px;
  width: 250px;
  height: 52px;
}

.recipe .create {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}
.recipe .create form {
  margin-top: 55px;
  font-family: lato;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.recipe .create input {
  font-family: lato;
  background-color: white;
  display: block;
  margin: 10px 0;
  width: 980px;
  height: 1px;
}
.recipe .create .CreateSub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.recipe .create .CreateSub input {
  background-color: #EFA7A7;
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
  font-family: caveat;
  border-radius: 16px;
  width: 422px;
  height: 52px;
}

.nav-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 10px;
  top: 20px;
  z-index: 1000;
}
.nav-holder .logo img {
  width: 250px;
  height: 55px;
}
.nav-holder nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
  position: fixed;
  right: 60px;
}
.nav-holder nav a {
  font-size: 25px;
  color: black;
  margin-left: 10px;
  text-decoration: none;
  margin-top: 10px;
  white-space: nowrap;
}
.nav-holder nav .oval {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 42px;
  border-radius: 16px;
  background-color: #FFD972;
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
}
.nav-holder nav .oval a {
  margin-right: 9px;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .recipe-hero h1 {
    margin-left: 300px;
    white-space: nowrap;
  }
  .recipe-hero .row-One {
    margin-left: 300px;
  }
  .recipe-hero .recipe-buttons {
    margin-left: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 500px) {
  .recipe-hero h1 {
    margin-left: 500px;
    white-space: nowrap;
  }
  .recipe-hero .row-One {
    margin-right: -250px;
  }
  .recipe-hero .row-One .recipe-One {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipe-hero .row-One .recipe-One .image {
    position: relative;
  }
  .recipe-hero .row-One .recipe-One .image button {
    opacity: 100%;
    position: absolute;
    top: 100px;
    left: 60px;
    width: 130px;
    height: 42px;
    background-color: #FFD972;
    border: none;
    -webkit-filter: drop-shadow(0 0 0.75rem);
            filter: drop-shadow(0 0 0.75rem);
    border-radius: 16px;
  }
  .recipe-hero .row-One .info {
    width: 250px;
  }
  .recipe-hero .recipe-buttons {
    margin-left: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.recipe-hero {
  height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../images/recipe-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #A7E8BD;
  background-blend-mode: multiply;
  opacity: 80%;
}
.recipe-hero h1 {
  font-family: caveat;
  margin-right: 550px;
  font-size: 20px;
}
.recipe-hero .row-One {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipe-hero .row-One .recipe-One {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: lato;
}
.recipe-hero .row-One .recipe-One .image button {
  opacity: 0;
}
.recipe-hero .row-One .recipe-One .image img {
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 263px;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.recipe-hero .row-One .recipe-One .info {
  font-family: lato;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  width: 250px;
  height: 263px;
  border-radius: 6px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}
.recipe-hero .row-One .recipe-One .info .header {
  font-size: 15px;
}
.recipe-hero .row-One .recipe-One .info .text-info {
  margin-bottom: 50px;
  font-size: 9px;
}
.recipe-hero .row-One .recipe-One .info .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipe-hero .row-One .recipe-One .info .time .image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.recipe-hero .row-One .recipe-One .info .servings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipe-hero .row-One .recipe-One .info .servings .images img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25px;
  width: 25px;
}
.recipe-hero .recipe-buttons {
  margin-top: 20px;
  margin-right: 530px;
  margin-bottom: 300px;
}
.recipe-hero .recipe-buttons button {
  font-family: caveat;
  width: 130px;
  height: 42px;
  background-color: #FFD972;
  border: none;
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
  border-radius: 16px;
}

.wrapper {
  height: 200%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .detail-recipe {
  margin-right: 240px;
  width: 800px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wrapper .detail-recipe .header {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-top: 100px;
}
.wrapper .detail-recipe .food-image img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 421px;
  width: 468px;
}
.wrapper .detail-recipe .food-description {
  margin-left: 10px;
}
.wrapper .detail-recipe .food-description .info {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .detail-recipe .food-description .info span {
  margin: 15px 10px;
}
.wrapper .ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 80%;
}
.wrapper .ingredients .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
}
.wrapper .ingredients .list span {
  margin: 5px 0;
}
.wrapper .instructions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  width: 80%;
}
.wrapper .instructions .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .instructions .list span {
  margin: 5px 0;
}
.wrapper button {
  margin-top: 20px;
  margin-right: 850px;
  width: 130px;
  height: 42px;
  background-color: #FFD972;
  border: none;
  -webkit-filter: drop-shadow(0 0 0.75rem);
          filter: drop-shadow(0 0 0.75rem);
  border-radius: 16px;
}