.wrapper{
    height: 200%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;


    .detail-recipe{
        margin-right: 240px;
        width: 800px;
        margin-top: 50px;
        display: flex;
    
        .header{
            writing-mode: vertical-lr;
            margin-top: 100px;
        }
    
        .food-image{
            img{
                display: flex;
                height: 421px;
                width: 468px;
            }
        }

        .food-description{
           margin-left: 10px;
           .head{

           }

           .info{
            margin-top: 100px;
            display: flex;
            flex-direction: column;

            span{
                margin: 15px 10px;
            }
           }
        }
    }

    .ingredients{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        width: 80%;

        .list{
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            span{
                margin: 5px 0;
            }
        }


    }

    .instructions{
            display: flex;
            flex-direction: column;
            margin-top: 50px;
            width: 80%;
    
            .list{
                display: flex;
                flex-direction: column;

                span{
                    margin: 5px 0;
                }
            }
        }

        button{
            margin-top: 20px;
            margin-right: 850px;
            width: 130px;
            height: 42px;
            background-color: #FFD972;
            border: none;
            filter: drop-shadow(0 0 0.75rem);
            border-radius: 16px;
        }
    }